body {
  margin: 0;
  font-family: 'Dosis', sans-serif !important;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div-principal {
  padding-bottom: 0;
  margin-bottom: 0;
}