@import 'Variables';

.carousel_container {
    padding-top: 120px;
    width: 1481px;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    overflow: hidden;
}

.carousel {
    width: 1481px !important;
    margin: 0 0 0 0 !important;
}

.carousel-indicators button {
    background-color: $gris-claro !important;
    width: 80px !important;
    /* Cambia el ancho según tu preferencia */
    height: 20px !important;
    /* Cambia la altura según tu preferencia */
}

.carousel-indicators .active {
    background-color: $verde-lima !important;
    margin: 0 0 0 0 !important;
}

.carousel-control-next-icon {
    width: 80px !important;
    height: 80px !important;
    background-color: $verde-lima !important;
    filter: none !important;
    border-radius: 5px;
}

.carousel-control-prev-icon {
    width: 80px !important;
    height: 80px !important;
    background-color: $verde-lima !important;
    filter: none !important;
    border-radius: 5px;
}

.button-carousel:hover {
    animation: scale 1s infinite;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.caracteristica_servicios {
    margin-bottom: 20px;
    width: 850px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caracterisctia_servicios_container {
    padding: 20px;
    padding-top: 40px !important;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: $verde-lima;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
}



.servicios_descripcion {
    text-align: justify;
    color: $blanco;
    font-size: 17px;
    margin-bottom: 15px;
    padding: 10px 20px 0 20px;
}

.lista_servicios {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 20px;
    color: $blanco;
    padding-bottom: 10px;
    text-align: justify;
}

.lista_servicios li {
    margin-bottom: 8px;
}

.boton_servicios {
    display: inline-block;
    margin-top: 20px 0 0 0 !important;
    border: 1px solid $blanco;
    background-color: $verde-lima;
    color: $blanco;
    text-decoration: none;
    border-radius: 5px;

}

@media (max-width: 768px) {
    .nuestros_servicios_title{
        padding-top: 20px;
    }
    .caracteristica_servicios{
        height: 100%;
        margin-top: 20px;
    }
    .caracterisctia_servicios_container{
        height: 100%;
        width: 360px;
        padding-top: 20px !important;
    }
    .lista_servicios{
        margin-left: 0;
    }
    .img-carousel{
        width: 400px;
    }
    .carousel_container{
        width: 100%;
    }
}