@import 'Variables';

.carousel_container {
    padding-top: 120px;

}

.carousel-indicators button {
    background-color: $gris-claro !important;
    width: 80px !important;
    /* Cambia el ancho según tu preferencia */
    height: 20px !important;
    /* Cambia la altura según tu preferencia */
}

.carousel-indicators .active {
    background-color: $verde-lima !important;
}

.carousel-control-next-icon {
    width: 80px !important;
    height: 80px !important;
    background-color: $verde-lima !important;
    filter: none !important;
    border-radius: 5px;
}
.carousel-control-prev-icon {
    width: 80px !important;
    height: 80px !important;
    background-color: $verde-lima !important;
    filter: none !important;
    border-radius: 5px;
}

.button-carousel:hover {
    animation: scale 1s infinite;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}