@import 'Variables';

.contacto_container {
    height: 100vh !important;
    width: 1481px !important;
    color: $blanco !important;
    font-family: 'Poppins', sans-serif !important;
    padding-top: 120px !important;
}

.container-contacto-lottie {
    display: flex !important;
    align-items: center;
    width: 1100px;
    height: 580px;
    background: $verde-lima;
    padding-top: 20px;
    border-radius: 20px;
}

.container-contacto-empresa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    padding-left: 50px;
}

.cont {
    padding-left: 10px;
    font-size: 15px;
}

.titulo {
    padding-bottom: 20px !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
}

.my-input {
    // box-shadow: 0 0 3px 3px rgb(0,0 ,0,0.8);
}

.cont-text {
    text-align: justify;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif !important;
}

.container-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-contact {
    border: 2px solid $blanco !important;
    background: $verde-lima !important;
    color: $blanco !important;
}

.button-contact:hover {
    animation: scale 1s infinite;
    transition: 0.2s ease-in-out;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    lottie-player {
        display: none;
    }

    .contacto_container {
        width: 100% !important;
        height: 100% !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .container-contacto-lottie {
        width: 97%;
        height: 100% !important;
    }

    .container-contacto-empresa {
        width: 100%;
        height: 100%;
        padding-left: 0;
        padding: 0 10px 0 10px;
    }

    .contacto-desc {
        text-align: justify;
    }

    .container-contacto {
        margin-top: 16px;
        width: 100%;
        height: 100%;

        .d-flex {
            flex-direction: column;
        }
    }

    .input_card {
        margin-top: 16px;
    }

    textarea {
        width: 310px !important;
    }

    input {
        width: 310px !important;
    }

    select {
        width: 310px !important;
    }

    .referencias_card {
        width: 320px !important;
        flex-direction: column !important;
        justify-content: center !important;
    }

    .input_container {
        width: 310px !important;
    }
    .ref_card{
        flex-direction: row !important;
        align-items: center;
        margin-top: 10px;
    }
    .cont{
        margin-bottom: 0;
    }
}