@import 'Variables';
/* Importamos las variables */

.header_container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $verde-lima;
    height: 120px;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: inset 0 0 20px 0 $gris-oscuro;
}

a {
    color: $blanco !important;
}

.bg-gris {
    background: $verde-lima !important;

    :hover {
        background-color: $gris-oscuro !important;
    }
}

.nav-item {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    transition: all $transition ease-in-out !important;
    font-weight: 600 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-link:hover {
    transform: scale(1.1) !important;
    transition: all $transition ease-in-out !important;
}

.dropdown-menu-redaccion {
    display: none;
    /* Puedes agregar estilos adicionales aquí, como position: absolute, right: 0, etc. */
    /* Ajustamos el estilo para mostrar el menú a la derecha */
    position: absolute;
    right: 0;
    top: 0;
    left: 100%;
    width: 300px;
    background: $verde-lima;
}

/* Mostrar el menú al hacer hover en el elemento padre */
.li-redacciongeneral:hover .dropdown-menu-redaccion {
    display: block;
}

/* Mostrar el menú al hacer clic en el elemento padre */
// .li-redacciongeneral:focus .dropdown-menu-redaccion {
//     display: block;
// }

.dropdown-menu-redaccion ul li {
    text-decoration: none !important;
}

.li-redaccion-title {
    height: 32px !important;
    display: flex;
    align-items: center;
}

.li-redacciongeneral {
    height: 32px !important;
    display: flex;

    align-items: center;
}

.li-redaccion {
    text-decoration: none !important;
    height: 32px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.li-redacciongeneral {
    padding-left: 16px;

    ul {
        text-decoration: none !important;
        padding-left: 0 !important;
        border-radius: 5px;
    }
}

.dropdown-menu-redaccion li {
    list-style-type: none;
    height: 32px !important;

}

.dropdown-menu-redaccion:hover {
    background: $verde-lima !important;
}

.dropdown-menu-redaccion {
    display: none;
}

.hidden{
    display: none !important;
}

@media (max-width: 768px) {
    .header_container {
        max-width: 100%;
        max-height: 100%;
    }

    .img_header {
        height: 60px;
    }

    .contenedor_logo_menu {
        width: 100% !important;
        justify-content: space-between !important;
        padding: 0 0 0 0 !important;
    }

    .navbar_header_container {
        width: 85% !important;
    }

    .menu-closed {
        display: none;
    }

    .menu-open {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        top: 0;
        left: 0;
        background: $verde-lima;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown-menu {
        flex-direction: column;
        align-items: stretch;
        flex-grow: 1;
    }

    .dropdown {
        display: flex;
        flex-direction: column;

    }

    .dropdown-item {
        min-height: 0;
    }

    .li-redacciongeneral {
        display: flex;
        align-items: flex-start !important;
        display: none !important;
    }

    .navbar-nav {
        width: 100%;
        height: 100%;
        margin-top: 120px;
    }

    .dropdown-menu-end {
        width: 370px
    }

    .dropdown-menu-redaccion {
        display: none;
        /* Puedes agregar estilos adicionales aquí, como position: absolute, right: 0, etc. */
        /* Ajustamos el estilo para mostrar el menú a la derecha */
        position: absolute;
        left: 0;
        bottom: 0;
        width: 370px;
        height: 96px;
        background: $verde-lima !important;
        z-index: 2;
    }

    .li-redacciongeneral.open .dropdown-menu-redaccion {
        display: block !important;
    }

    .hidden{
        display: block !important;
    }
}