@charset "UTF-8";
* {
  font-family: "Poppins", sans-serif !important;
}

body {
  font-family: "Poppins", sans-serif !important;
}

h1 {
  font-size: 30px;
  width: 140px !important;
  color: #ffffff !important;
  display: inline-block !important;
  margin: 0 0 0 0 !important;
  height: 40px !important;
  font-weight: 900 !important;
  display: inline;
  text-align: justify !important;
}

h2 {
  color: #ffffff !important;
}

h3 {
  text-align: center !important;
  color: #ffffff !important;
  font-size: 20px !important;
}

h4 {
  font-size: 20px !important;
  text-align: justify !important;
  display: inline;
  margin: 0 !important;
  padding-bottom: 10px !important;
}

h5 {
  font-size: 15px !important;
}

p {
  color: #ffffff !important;
}

a,
ul,
li {
  text-decoration: none !important;
}

input {
  color: #00d799 !important;
}

input::-moz-placeholder {
  color: #00d799 !important;
  opacity: 1 !important;
}

input::placeholder {
  color: #00d799 !important;
  opacity: 1 !important;
}

textarea {
  color: #00d799 !important;
}

textarea::-moz-placeholder {
  color: #00d799 !important;
}

textarea::placeholder {
  color: #00d799 !important;
}

select {
  color: #00d799 !important;
}

#root {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

section {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.button-effect {
  color: #ffffff !important;
  background-color: #00d799 !important;
  padding: 10px 10px 10px 10px !important;
  margin: 0 20px 40px 20px !important;
}

.button-effect:hover {
  animation: scale 1s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.whatsapp-icon {
  z-index: 2;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.whatsapp-icon:hover {
  animation: scale 1s infinite;
}

.zoom {
  transition: 0.8s ease-in-out;
}

.zoom:hover {
  transform: scale(1.01);
}

/* Importamos las variables */
.header_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00d799;
  height: 120px;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: inset 0 0 20px 0 #666666;
}

a {
  color: #ffffff !important;
}

.bg-gris {
  background: #00d799 !important;
}
.bg-gris :hover {
  background-color: #666666 !important;
}

.nav-item {
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  transition: all 0.5s ease-in-out !important;
  font-weight: 600 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-link:hover {
  transform: scale(1.1) !important;
  transition: all 0.5s ease-in-out !important;
}

.dropdown-menu-redaccion {
  display: none;
  /* Puedes agregar estilos adicionales aquí, como position: absolute, right: 0, etc. */
  /* Ajustamos el estilo para mostrar el menú a la derecha */
  position: absolute;
  right: 0;
  top: 0;
  left: 100%;
  width: 300px;
  background: #00d799;
}

/* Mostrar el menú al hacer hover en el elemento padre */
.li-redacciongeneral:hover .dropdown-menu-redaccion {
  display: block;
}

/* Mostrar el menú al hacer clic en el elemento padre */
.dropdown-menu-redaccion ul li {
  text-decoration: none !important;
}

.li-redaccion-title {
  height: 32px !important;
  display: flex;
  align-items: center;
}

.li-redacciongeneral {
  height: 32px !important;
  display: flex;
  align-items: center;
}

.li-redaccion {
  text-decoration: none !important;
  height: 32px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.li-redacciongeneral {
  padding-left: 16px;
}
.li-redacciongeneral ul {
  text-decoration: none !important;
  padding-left: 0 !important;
  border-radius: 5px;
}

.dropdown-menu-redaccion li {
  list-style-type: none;
  height: 32px !important;
}

.dropdown-menu-redaccion:hover {
  background: #00d799 !important;
}

@media (max-width: 768px) {
  .header_container {
    max-width: 100%;
    max-height: 100%;
  }
  .img_header {
    height: 60px;
  }
  .contenedor_logo_menu {
    width: 100% !important;
    justify-content: space-between !important;
    padding: 0 0 0 0 !important;
  }
  .navbar_header_container {
    width: 85% !important;
  }
  .menu-closed {
    display: none;
  }
  .menu-open {
    display: block;
    position: fixed;
    width: 100%;
    min-height: 100vh !important;
    overflow-y: auto;
    top: 0;
    left: 0;
    background: #00d799;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dropdown-menu {
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
  }
  .dropdown-item {
    min-height: 0;
  }
}/*# sourceMappingURL=Header.css.map */