@import 'Variables';

.ingresos_container {
    height: 100vh;
    padding-top: 125px;
    display: flex;
    flex-direction: column;
}






.ingresos_description {
    width: 85%;
    height: 87%;
    padding: 20px 40px 20px 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    // background: $verde-lima;
    border-radius: 10px;
    background-image: url(../images/fonto_verde.jpeg);
    background-size: 500px 500px;
    background-repeat: repeat;
    p {
        font-size: 18px;
        text-align: justify;

    }
}

.emprendimiento{
    height: 82%;
}

.investigacion{
    height: 80%;
}

.puestos_list{
    margin: 5px 0 5px 0;
}

.ingresos_card {
    padding-top: 20px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.programa-formulario {
    margin-top: 20px;
    padding-left: 0 !important;
}

.seleccionar-archivo {
    background: $blanco;
    border-radius: 5px;
}

@media (max-width: 768px){
    .ingresos_description{
        flex-direction: column;
        padding: 0 30px 0 30px;
        height: 100%;
        width: 90%;
        padding-bottom: 20px;
    }
    .ingresos_card{
        padding-right: 0;
    }
    .ingresos_container{
        height: 100% !important;
        margin-bottom: 20px;
    }
    .container-contacto{
        padding-left: 10px;
    }
    .input_celular{
        margin-top: 20px;
    }
}

@media (min-width: 1500px){
    .ingresos_description{
        width: 65%;
        height: 68%;
    }
}

@media (min-width: 769px) and (max-width: 1480px){
    .ingresos_card{
        padding-top: 0;
        h2{
            font-size: 25px;
            padding-bottom: 0 !important;
            margin-bottom: 10px !important;
        }
        p{
            font-size: 16px !important;
        }
    }
}

@supports (-webkit-appearance: none) {
    .ingresos_container {
        // min-height: 130vh;
        padding-top: 100px;

    }
    .ingresos_description{
        min-width: 85%;
        min-height: 84%;
    }
    .emprendimiento{
        min-height: 75%;
    }
    .investigacion{
        min-height: 76%;
    }
}