@import 'Variables';

.ingresos_container {
    height: 100vh !important;
    padding-top: 125px !important;
    display: flex;
    flex-direction: column;
}

.ingresos_description {
    width: 85%;
    height: 87%;
    padding: 20px 40px 20px 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: $verde-lima;
    border-radius: 10px;

    p {
        font-size: 18px;
        text-align: justify;

    }
}

.puestos_list{
    margin: 5px 0 5px 0;
}

.ingresos_card {
    padding-top: 20px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.programa-formulario {
    margin-top: 20px;
    padding-left: 0 !important;
}

.seleccionar-archivo {
    background: $blanco;
    border-radius: 5px;
}

@media (max-width: 768px){
    .ingresos_description{
        flex-direction: column;
        padding: 0 30px 0 30px;
        height: 100%;
        padding-bottom: 20px;
    }
    .ingresos_card{
        padding-right: 0;
    }
    .ingresos_container{
        height: 100% !important;
        margin-bottom: 20px;
    }
    .container-contacto{
        padding-left: 10px;
    }
    .input_celular{
        margin-top: 20px;
    }
}