.investigacion_card{

    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/Programa/invsostenible.png);
    background-size: 101% 105%; /* La imagen ocupará todo el espacio del contenedor */
    background-repeat: no-repeat;
    background-position: top left;
    padding: 0 !important;
    margin:  0 !important;
}