@import 'Variables';

.amddi_container {
    max-height: 300vh;
    width: 1481px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around !important;
    padding-top: 70px;
}

.quienessomos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 100vh;
    border-radius: 10px;
    padding-top: 20px;
}

.quienessomos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 399px;
    padding: 0 0 0 20px;
    border-radius: 10px;
    position: relative;
    background: $verde-lima;
}

.quienessomos-descripcion {
    width: 420px;
    margin-right: 10px;
    position: absolute;
    text-align: justify;
    top: 8%;
    left: 5%;
    h4 {
        color: $blanco;
    }
}

.vimi-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 100vh;
    padding-top: 20px;
}

.vimi {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px !important;
    height: 350px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    h4 {
        color: $blanco;
        // text-shadow: 1px 1px 2px #000000;
        font-weight: 600;
    }
}

.vision {
    background-image: url('../images/Nosotros/vision_verde2.jpeg');
}

.mision {
    background-image: url('../images/Nosotros/vision_verde3.jpeg');
}

.img-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px !important;
    padding-bottom: 10px;
    h2{
        color: $blanco;
    }
}

.img-logo {
    padding-bottom: 1px;
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: 0;
    right: 0;
}

.img-logo-vimi{
    padding-right: 10px;
}

.titulo-vimi {
    padding-top: 6px;
    color: $blanco;
    // text-shadow: 0.5px 0.5px 0.5px #000000;
}

#accordionExample {
    width: 500px;
    padding: 20px 0 0 0 !important
}

.valores-container{
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    width: 550px !important;
    height: 1000px !important;

}

.valores{
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    width: 550px !important;
    height: auto !important;
    max-height: 1000px !important;
    background: $verde-lima;
    border-radius: 10px;
    padding: 20px 0 30px 0 !important;
}

