@import 'Variables';

.servicios_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.servicio_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.servicios_card {
    height: 400px;
    width: 600px;
    margin-top: 80px;
    // margin-bottom: 123px;
    // background: $verde-lima;
    background-image: url(../images/fonto_verde.jpeg);
    background-size: 500px 500px;
    background-repeat: repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        text-align: center;
    }
}

.card_servicio {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        margin-bottom: 0 !important;
    }
}



.carreras_container {
    height: 800px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.servicios_caracteristicas {
    width: 1200px;
    height: 800px;
    // background: $verde-lima;
    background-image: url(../images/fonto_verde.jpeg);
    background-size: 500px 500px;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    margin-top: 140px;

    .titulo2 {
        display: inline-block;

        h2 {
            display: inline-block;
            text-align: center !important;
        }
    }
}

.servicios_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.servicios_carreras {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    li {
        color: $blanco;
    }
}

.servicios_list {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.servicio_description {
    width: 600px;
    padding: 20px 30px 20px 30px;
    text-align: justify;
    color: $blanco;
}

.button-effect {
    border: 2px solid $blanco !important;
    margin-bottom: 0px !important;
}

.biologicas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    border: 1px solid $blanco !important;

    h3 {
        align-items: center;
    }

    ul {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
}

.ingenieria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    background-image: url(../images/fondo_blanco.jpeg);
    background-size: 500px 500px;
    background-repeat: repeat;
    border: 1px solid $blanco !important;
    h3{
        color: $verde-lima !important;
    }
    ul{
        list-style: none !important;
        text-decoration: none !important;
        li{
            text-decoration: none !important;
            padding-right: 10px;
            color: $verde-lima !important;
            font-weight: 800;
            text-shadow: black 0.01em 0.01em 0.01em;
    }
}
}

.basicas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    border: 1px solid $blanco !important;

    ul {
        padding-right: 10px;
    }
}

.sociales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    border: 1px solid $blanco !important;
}

.empresariales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    border: 1px solid $blanco !important;
}

.salud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    border: 1px solid $blanco !important;
}

.carrera_grupo {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 20px;
}



@media (max-width: 768px) {
    .servicios_container {
        height: auto;
    }

    .carreras_container {
        height: 100%;
    }

    .servicios_caracteristicas {
        width: 320px;
        height: 100%
    }

    .servicios_card {
        height: 75%;
        width: 320px;
    }

    .servicios_carreras {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .servicios_titulo {
        padding-top: 20px;
        text-align: center;
        padding-bottom: 0;
    }

    .ingenieria {
        margin-top: 5px;
    }

    .servicios_list {
        margin-top: 5px;
    }

    .carrera_grupo {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .sociales {
        margin-top: 20px;
    }

    .servicio_description {
        width: 320px;
    }
}

@media (min-width: 1500px) {
    .carreras_container {
        height: calc(100vh - 120px) !important;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
    }

    .servicios_card {
        width: 800px;
    }

    .servicio_description {
        width: 95%;

        p {
            font-size: 20px !important;
        }
    }

}