$verde-lima: #00d799;
$verde-agua: #7febcc;
$verde-menta: #4beccd;
$gris-claro: #b4b4b4;
$gris-oscuro: #666666;
$blanco: #ffffff;
$negro: #000000;
$transition: 0.5s;

* {
    font-family: 'Poppins', sans-serif !important;
}

body{
    font-family: 'Poppins', sans-serif !important;
}

h1 {
    color: $verde-agua
}

h4 {
    font-size: 20px !important;

}

h5{
    font-size: 15px !important;
}

a,ul,li{
    text-decoration: none !important;
}

#root {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

section {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.button-effect {
    color: $negro !important;
    background-color: $verde-lima !important;
    padding: 10px 10px 10px 10px !important;
    margin: 0 20px 40px 20px !important;
}

.button-effect:hover {
    animation: scale 1s infinite;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}